dataset/
env/
public_labels.csv
dataset_feature/
benign_dataset/
labels/
.env
tokenizer_v2.pkl
maxlen_v2.txt
maxlen.txt
tokenizer.pkl
model/
image_results/

chromedriver-win64/
.env
mal_link.txt
ransom_scraping
__pycache__
scrape.py

olah_ransom.py
see_duplicate_scrape.py
investing/
scrape_investing.py
clean_sequence.py
dataset-virlock/
cleaning_combined.py
benign_cleaning.py
dataset_normalization/
reports/


